/* Brand font: Neue Haas Grotesk Display (licensed via MyFonts — binaries NOT supplied).
   Inter Tight is the stand-in webfont so local, demo, and preview render the same face.
   Google Fonts is loaded from css/main.css; this local face is the offline backup.
   Arial is the approved Microsoft Office / last-resort fallback. */
@font-face{
	font-family:"Inter Tight";
	src:url("../assets/fonts/InterTight-Variable.ttf") format("truetype");
	font-weight:100 900;
	font-style:normal;
	font-display:swap;
}
